/*---------Animations-----------*/

@keyframes navBarSlide {
  0% {
    padding: 0px;
    width: 0px;
  }
  100% {
    padding: 5px;
    width: 175px;
  }
}

@keyframes navBarSlideBack {
  from {
    padding: 5px;
    width: 175px;
  }
  to {
    padding: 0px;
    width: 0px;
  }
}

@keyframes slideInText {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes enlargeText {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  30% {
    transform: scale(1.5);
    opacity: .5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeTextIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotateEmoji {
  from {
    opacity: 0;
    transform: rotate(-90deg);
  }
  to {
    opacity: .8;
    transform: rotate(0deg);
  }
}

.textHighlightContainer {
  width: auto;
  overflow-x: hidden;
  display: inline-block;
}

.textHighlightOne {
  background-image: url("Assets/Images/asfalt-light.png");
  background-color: rgba(255, 0, 255, .4);
  border-radius: 10px;
  animation: slideInText;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1s;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  opacity: 0;
  overflow: hidden;
  vertical-align: bottom;
}

.textHighlightTwo {
  background-image: url("Assets/Images/asfalt-light.png");
  background-color: rgba(255, 0, 120, .5);
  border-radius: 10px;
  animation: slideInText;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1.5s;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  opacity: 0;
  overflow: hidden;
  vertical-align: middle;
}

/*---------End Animations-----------*/

/*-------Background Video Stylings-------*/

.backgroundVideo .backgroundFilter {
  background-image: radial-gradient(circle, rgba(50, 50, 50), black);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
}

.backgroundVideo video {
  position: fixed;
  z-index: 0;
  bottom: 0;
  opacity: .5;
  filter: contrast(50%) brightness(80%);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*-------End Background Video Stylings-------*/

/*-------Navigation Stylings-------*/

nav {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5vw;
}

nav .navLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .navLinks:hover .navIcons {
  color: magenta;
  text-shadow: 0px 0px black;
}

nav .navIcons {
  display: inline-block;
  font-size: 3.5rem;
  opacity: 0.5;
  color: white;
  text-shadow: 3px 3px black;
  width: 100px;
  text-align: center;
}

nav .navText {
  text-shadow: 0px 5px 3px black;
  color: lightgray;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 1.5rem;
  text-align: left;
  overflow-x: hidden;
  white-space: nowrap;
  background-image: url("Assets/Images/asfalt-light.png"), linear-gradient(90deg, rgba(255, 0, 255, .5), transparent);
  border-radius: 5px;
  padding: 0;
  display: inline-block;
  width: 0px;
}

nav .mobileViewText {
  color: lightgray;
  width: auto;
  text-shadow: 0px 5px 3px black;
  text-align: center;
  margin-top: 1vh;
}

nav .active .mobileViewText {
  text-shadow: 0px 0px 5px magenta;
}

nav .activeIcon {
  text-shadow: 0px 0px black;
  color: magenta;
  opacity: 1;
}

/*--- Media Queries */

@media (max-width: 1200px) {
  nav .navIcons {
    font-size: 2.5rem;
  }
  nav .navText {
    font-size: 1.2rem;
  }
}

@media (max-width: 1000px) {
  nav {
    margin-left: 0vw;
  }
  nav .navIcons {
    font-size: 2rem;
  }
  nav .navText {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  nav {
    flex-direction: row;
    height: 11vh;
    width: 100vw;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    padding-top: 1vh;
    border-radius: 50px;
  }
  nav .navLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 400px) {
  nav .navIcons {
    width: 50px;
  }
}

@media(max-width: 350px) {
  nav .navIcons {
    font-size: 1.5rem;
  }
  nav .mobileViewText {
    font-size: .8rem;
  }
}

/*--- End Media Queries */

/*-------End Navigation Stylings-------*/

/*------Misc. Stylings -------*/

/*------End Misc. Stylings -------*/

/*-------Welcome Section Stylings-------*/

.welcome .welcomeMessage {
  text-align: center;
  width: 75%;
}

.welcome .welcomeMessage .salutations {
  margin-bottom: 3%;
  font-size: 5rem;
  /* background-image: url("Assets/Images/asfalt-light.png");
  background-color: rgba(126, 190, 250, 0.514); */
  width: auto;
  display: inline-block;
  padding: .5%;
  border-radius: 30px;
  animation: enlargeText;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1s;
  opacity: 0;
}

.welcome .welcomeMessage h2 {
  font-size: 2rem;
}

.welcome .welcomeMessage .myName {
  display: inline-block;
  vertical-align: text-bottom;
  width: auto;
  overflow-x: hidden;
}

.welcome .welcomeMessage .myName span {
  background-image: url("Assets/Images/asfalt-light.png");
  background-color: rgba(255, 0, 255, .4);
  border-radius: 10px;
  animation: slideInText;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 2s;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  opacity: 0;
}

.welcome .welcomeMessage .myPos {
  display: inline-block;
  vertical-align: text-bottom;
  width: auto;
  overflow-x: hidden;
}

.welcome .welcomeMessage .myPos span {
  border-radius: 10px;
  animation: slideInText;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 2.5s;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  opacity: 0;
  background-image: url("Assets/Images/asfalt-light.png");
  background-color: rgba(255, 0, 120, .5);
}

.welcome .welcomeMessage .signOff {
  opacity: 0;
  animation: fadeTextIn;
  animation-duration: 1s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

.welcome .welcomeMessage .signOff i {
  font-size: 3rem;
  color: rgba(255, 0, 120, 1);
  opacity: .5;
  animation: rotateEmoji;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

/*--- Media Queries */

@media (max-width: 1200px) {
  .welcome {
    width: 70vw;
  }
  .welcome .welcomeMessage .salutations {
    font-size: 3.5rem;
  }
  .welcome .welcomeMessage h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .welcome {
    width: 60vw;
  }
  .welcome .welcomeMessage .salutations {
    font-size: 2rem;
  }
  .welcome .welcomeMessage h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .welcome .welcomeMessage {
    width: 100%;
  }
  .welcome {
    width: 100vw;
  }
  .welcome .welcomeMessage .salutations {
    font-size: 1.5rem;
  }
  .welcome .welcomeMessage h2 {
    font-size: 1.3rem;
  }
}

/*--- End Media Queries */

/* .welcome .bubblesContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.welcome .bubblesContainer .tinyBubbles {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  box-shadow: inset 0px 0px 3px 5px rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .1;
  position: absolute;
}

.welcome .bubblesContainer .tinyBubbles i {
  font-size: 4rem;
  color: white;
} */

/*-------End Welcome Section Stylings-------*/

/*-------About Me Section Stylings-------*/

.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 100vh;
  overflow: hidden;
}

.about h2 {
  font-size: 2rem;
  border-bottom: 3px ridge magenta;
  margin-bottom: 5%;
}

.about p {
  font-size: 1.5rem;
}

.about .sectionHeaderOne {
  vertical-align: top;
}

.about .sectionHeaderTwo {
  vertical-align: bottom;
}

.about .colorDivider {
  color: magenta;
}

.about h2 .colorDivider {
  font-size: 3rem;
  color: magenta;
  text-shadow: 2px 2px black;
}

.about .skillsList .colorDivider {
  color: lightskyblue;
  font-size: 2.5rem;
  text-shadow: 2px 2px black;
}

.about .skillsList {
  font-size: 1.5rem;
  text-shadow: 0 3px black;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

.about .bioContainer, .about .skillsContainer, .about .miscInfoContainer, .about .socialLinksContainer {
  width: 50%;
  height: auto;
  padding: 2% 3%;
}

.about .profilePicContainer {
  position: relative;
  width: 40%;
  margin: 1% 5% 5%;
}

.about .profilePicContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px ridge magenta;
}

.about .profilePicContainer .imageFilter {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: brightness(80%);
  background-image: linear-gradient(120deg, rgba(255, 255, 255, .5), rgba(0, 0, 0, .3), rgba(0, 0, 0, .1));
  box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, .5);
  border-radius: 50%;
  z-index: 1;
}

.about .bioContainer {
  padding-top: 5%;
}

.about .bioContainer h3 {
  color: whitesmoke;
  font-size: 1.8rem;
  text-align: left;
  text-transform: uppercase;
  padding-top: 2%;
  white-space: nowrap;
}

.about .bioContainer .introContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.about .socialLinksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}

.about .socialLinksContainer .socialIconContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
  width: auto;
  height: auto;
}

.about .socialLinksContainer .socialIconContainer i {
  font-size: 4rem;
  color: whitesmoke;
  text-shadow: 0px 1px magenta;
  margin-bottom: 5%;
}

.about .socialLinksContainer .socialIconContainer i:hover {
  color: magenta;
  text-shadow: 0px 0px;
  cursor: pointer;
}

.about .socialLinksContainer .socialIconContainer p {
  text-shadow: 0px 1px lightskyblue;
}

/*-----Media Queries -----*/

@media (max-width: 1600px) {
  .about h2 {
    font-size: 1.4rem;
  }
  .about p {
    font-size: 1.3rem;
  }
  .about .skillsList {
    font-size: 1.3rem;
  }
  .about h2 .colorDivider {
    font-size: 3rem;
    color: magenta;
  }
  .about .bioContainer h3 {
    font-size: 1.3rem;
  }
  .about .skillsList .colorDivider {
    font-size: 2rem;
  }
}

@media (max-width: 1200px) {
  .about {
    width: 70vw;
  }
  .about .socialLinksContainer .socialIconContainer i {
    font-size: 2.5rem;
  }
}

@media (max-width: 1000px), (max-height: 650px) {
  .about h2 {
    font-size: 1.2rem;
  }
  .about p {
    font-size: 1rem;
  }
  .about .skillsList {
    font-size: 1rem;
  }
  .about .socialLinksContainer .socialIconContainer i {
    font-size: 2rem;
  }
  .about h2 .colorDivider {
    font-size: 1.5rem;
  }
  .about .skillsList .colorDivider {
    font-size: 1.2rem;
  }
  .about .bioContainer h3 {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .about {
    width: 65vw;
    justify-content: center;
  }
  .about .profilePicContainer {
    width: 50%;
  }
  .about h2 {
    text-align: center;
  }
  .about h2 .colorDivider {
    font-size: 1.3rem;
  }
  .about .skillsContainer, .about .miscInfoContainer, .about .socialLinksContainer {
    padding: 0;
  }
  .about .bioContainer {
    padding: 2% 0 0;
  }
  .about .sectionHeaderOne, .about .sectionHeaderTWo {
    vertical-align: middle
  }
}

@media (max-width: 600px) {
  .about {
    width: 100vw;
    height: 80vh;
    padding: 0 2%;
    flex-direction: row;
    text-align: center;
    overflow: scroll;
  }
  .about .bioContainer, .about .skillsContainer, .about .miscInfoContainer {
    width: 100%;
    padding: 2% 0 0;
  }
  .about .socialLinksContainer, .about .profilePicContainer {
    width: 40%;
    margin: 0;
    margin-top: 0;
  }
  .about .socialLinksContainer {
    width: 60%;
    margin-top: 7vh;
  }
 
  .about .socialLinksContainer .socialIconContainer {
    width: 50%;
    padding-bottom: 5%;
  }
  .about .socialLinksContainer .socialIconContainer i {
    font-size: 1.5rem;
  }
  .about h2 {
    font-size: 1rem;
    margin-bottom: 1%;
  }
  .about p {
    font-size: .8rem;
  }
  .about .skillsList {
    font-size: .8rem;
    text-align: center;
  }
  .about h2 .colorDivider {
    font-size: 1rem;
  }
  .about .skillsList .colorDivider {
    font-size: 1rem;
  }
  .about .bioContainer h3 {
    font-size: .75rem;
  }
  .about .profilePicContainer {
    float: left;
  }
  .about .bioContainer h3 {
    white-space: normal;
    text-align: center;
    width: 100%;
  }
  .about .bioContainer .introContainer {
    flex-wrap: wrap;
  }
}

@media (max-height:480px) {
  .about {
    display: none;
  }
}

@media (min-height:1000px) {
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about .bioContainer, .about .skillsContainer, .about .miscInfoContainer, .about .socialLinksContainer {
    width: 100%;
  }
  .about h2 {
    font-size: 2rem;
  }
  .about p {
    font-size: 1.3rem;
  }
  .about .skillsList {
    font-size: 1.3rem;
  }
  .about .socialLinksContainer .socialIconContainer i {
    font-size: 4rem;
  }
  .about h2 .colorDivider {
    font-size: 3rem;
    color: magenta;
  }
  .about .skillsList .colorDivider {
    font-size: 2rem;
  }
  .about .socialLinksContainer .socialIconContainer {
    width: auto;
    margin-top: 10%;
  }
}

/*-----End Media Queries -----*/

/*-------End About Me Section Stylings-------*/