/*---------Animations-----------*/

@keyframes navBarSlide {
  0% {
    padding: 0px;
    width: 0px;
  }
  100% {
    padding: 5px;
    width: 175px;
  }
}

@keyframes navBarSlideBack {
  from {
    padding: 5px;
    width: 175px;
  }
  to {
    padding: 0px;
    width: 0px;
  }
}

@keyframes slideInText {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes enlargeText {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  30% {
    transform: scale(1.5);
    opacity: .5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotateEmoji {
  from {
    opacity: 0;
    transform: rotate(-90deg);
  }
  to {
    opacity: .8;
    transform: rotate(0deg);
  }
}

.textHighlightContainer {
  width: auto;
  overflow-x: hidden;
  display: inline-block;
}

.textHighlightOne {
  background-image: url("Assets/Images/asfalt-light.png");
  background-color: rgba(255, 0, 255, .4);
  border-radius: 10px;
  animation: slideInText;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1s;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  opacity: 0;
  overflow: hidden;
  vertical-align: bottom;
}

.textHighlightTwo {
  background-image: url("Assets/Images/asfalt-light.png");
  background-color: rgba(255, 0, 120, .5);
  border-radius: 10px;
  animation: slideInText;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1.5s;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  opacity: 0;
  overflow: hidden;
  vertical-align: middle;
}

/*---------End Animations-----------*/

/*-------Background  Stylings-------*/

.background{
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(#3e3337, #222021);
  position: fixed;
  z-index: -1;
}



/*-------End Background Video Stylings-------*/

/*-------Navigation Stylings-------*/

nav {
  position: absolute;
  z-index: 1;
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

nav .navLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5vw;
  width: 100%;
}

nav .navLinks:hover .navIcons {
  color: magenta;
  text-shadow: 0px 0px black;
}

nav .navIcons {
  display: inline-block;
  font-size: 3.5rem;
  opacity: 0.5;
  color: white;
  text-shadow: 3px 3px black;
  padding-right: 2vw;
  text-align: center;
}

nav .navText {
  text-shadow: 0px 5px 3px black;
  color: lightgray;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 1.5rem;
  text-align: left;
  overflow-x: hidden;
  white-space: nowrap;
  background-image: url("Assets/Images/asfalt-light.png"), linear-gradient(90deg, rgba(255, 0, 255, 0.5), transparent);
  border-radius: 5px;
  padding: 0;
  display: inline-block;
  width: 0px;
}

nav .mobileViewText {
  color: lightgray;
  width: auto;
  text-shadow: 0px 5px 3px black;
  text-align: center;
  margin-top: 1vh;
}

nav .active .mobileViewText {
  text-shadow: 0px 0px 5px rgb(255, 0, 255);
}

nav .activeIcon {
  text-shadow: 0px 0px black;
  color: magenta;
  opacity: 1;
}

/*--- Media Queries */

@media (max-width: 1400px) {
  nav .navIcons {
    font-size: 3rem;
  }
  nav .navText {
    font-size: 1.3rem;
  }
}

@media (max-width: 1200px) {
  nav .navLinks {
    padding-left: 2vw;
  }
}

@media (max-width: 1000px) {
  nav .navLinks {
    padding-left: 1vw;
  }
  nav .navIcons {
    font-size: 2rem;
    padding-right: 1vw;
  }
  nav .navText {
    font-size: .8rem;
  }
}

@media(max-width: 600px), (max-height: 600px) and (min-width:600px) {
  nav {
    position: fixed;
    flex-direction: row;
    width: 100vw;
    height: 15%;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
  }
  nav .navLinks {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  nav .navIcons {
    font-size: 1.5rem;
    padding: 0;
  }
  nav .mobileViewText {
    font-size: .8rem;
  }
}

/*--- End Media Queries */

/*-------End Navigation Stylings-------*/

/*------Misc. Stylings -------*/

/*------End Misc. Stylings -------*/

/*-------Welcome Section Stylings-------*/

.welcome .welcomeMessage {
  text-align: center;
  width: 75%;
}

.welcome .welcomeMessage .salutations {
  margin-bottom: 3%;
  font-size: 5rem;
  /* background-image: url("Assets/Images/asfalt-light.png");
  background-color: rgba(126, 190, 250, 0.514); */
  width: auto;
  display: inline-block;
  padding: .5%;
  border-radius: 30px;
  animation: enlargeText;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1s;
  opacity: 0;
}

.welcome .welcomeMessage h2 {
  font-size: 2rem;
}

.welcome .welcomeMessage .myName {
  display: inline-block;
  vertical-align: text-bottom;
  width: auto;
  overflow-x: hidden;
}

.welcome .welcomeMessage .myName span {
  background-image: url("Assets/Images/asfalt-light.png");
  background-color: rgba(255, 0, 255, .4);
  border-radius: 10px;
  animation: slideInText;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 2s;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  opacity: 0;
}

.welcome .welcomeMessage .myPos {
  display: inline-block;
  vertical-align: text-bottom;
  width: auto;
  overflow-x: hidden;
}

.welcome .welcomeMessage .myPos span {
  border-radius: 10px;
  animation: slideInText;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 2.5s;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  opacity: 0;
  background-image: url("Assets/Images/asfalt-light.png");
  background-color: rgba(255, 0, 120, 0.5);
}

.welcome .welcomeMessage .signOff {
  opacity: 0;
  animation: fadeInContent;
  animation-duration: 1s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

.welcome .welcomeMessage .signOff i {
  font-size: 3rem;
  color: rgba(255, 0, 120, 1);
  opacity: .5;
  animation: rotateEmoji;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

/*--- Media Queries */

@media (max-width: 1400px) {
  .welcome .welcomeMessage .salutations {
    font-size: 4.5rem;
  }
  .welcome .welcomeMessage h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 1400px) {
  .welcome .welcomeMessage .salutations {
    font-size: 4rem;
  }
  .welcome .welcomeMessage h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .welcome .welcomeMessage .salutations {
    font-size: 3.5rem;
  }
  .welcome .welcomeMessage h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 1000px) {
  .welcome .welcomeMessage .salutations {
    font-size: 2.5rem;
  }
  .welcome .welcomeMessage h2 {
    font-size: 1rem;
  }
}

/*--- End Media Queries */

/* .welcome .bubblesContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.welcome .bubblesContainer .tinyBubbles {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  box-shadow: inset 0px 0px 3px 5px rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .1;
  position: absolute;
}

.welcome .bubblesContainer .tinyBubbles i {
  font-size: 4rem;
  color: white;
} */

/*-------End Welcome Section Stylings-------*/

/*-------About Me Section Stylings-------*/

.about {
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5% 1%;
}

.about h3 {
  font-size: 2rem;
  border-bottom: 3px ridge magenta;
  margin: 3% 0;
}

.about h3 .colorDivider {
  font-size: 1.5rem;
  color: magenta;
  text-shadow: 2px 2px black;
}

.introContainer, .skillsContainer, .socialLinksContainer, .bioContainer {
  width: 50%;
  padding-right: 2vw;
}

.introContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.introContainer h2 {
  font-size: 2rem;
  letter-spacing: 4px;
}

.introContainer .profilePicContainer {
  width: 35%;
  position: relative;
  height: auto;
  border-radius: 50%;
  border: 1px ridge magenta;
}

.introContainer .profilePicContainer img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.introContainer .profilePicContainer .imageFilter {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: brightness(80%);
  background-image: linear-gradient(120deg, rgba(255, 255, 255, .5), rgba(0, 0, 0, .3), rgba(0, 0, 0, .1));
  box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, .5);
  border-radius: 50%;
  z-index: 1;
  bottom: 0;
}

.bioContainer p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 2.5rem;
  text-shadow: 2px 2px black;
}

.about .skillsContainer .skillsList .colorDivider {
  color: lightskyblue;
  font-size: 2.5rem;
  text-shadow: 2px 2px black;
}

.about .skillsContainer .skillsList {
  font-size: 1.5rem;
  text-shadow: 0 3px black;
  text-align: left;
  width: 100%;
  padding-left: 2vw;
}

.about .socialLinksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  border-top: 4px ridge magenta;
  padding-top: 5vh;
}

.about .socialLinksContainer .socialIconContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
  width: auto;
  height: auto;
}

.about .socialLinksContainer .socialIconContainer i {
  font-size: 4rem;
  color: whitesmoke;
  text-shadow: 0px 0px 3px magenta;
  margin-bottom: 5%;
}

.about .socialLinksContainer .socialIconContainer i:hover {
  color: magenta;
  text-shadow: 0px 0px;
  cursor: pointer;
}

.about .socialLinksContainer .socialIconContainer p {
  text-shadow: 0px 0px 3px lightskyblue;
  font-size: 1.5rem;
}

.about .mobile {
  display: none;
}

/*-----Media Queries -----*/

/* @media (max-width: 1700px) {
  .introContainer h2 {
    font-size: 1.5rem;
  }
  .bioContainer p, .about .skillsContainer .skillsList, .about .socialLinksContainer .socialIconContainer p {
    font-size: 1.2rem;
  }
  .about h3 {
    font-size: 1.5rem;
  }
  .bioContainer p {
    padding-left: 0;
  }
} */

@media (max-width: 1400px), (max-height: 800px) {
  .introContainer h2 {
    font-size: 1.5rem;
  }
  .bioContainer p, .about .skillsContainer .skillsList, .about .socialLinksContainer .socialIconContainer p, .about .skillsContainer .skillsList .colorDivider {
    font-size: 1.2rem;
  }
  .about h3, .about h3 .colorDivider {
    font-size: 1.5rem;
  }
  .about .socialLinksContainer .socialIconContainer i {
    font-size: 3rem;
  }
}

@media (max-width: 1200px), (max-height: 750px) {
  .introContainer h2 {
    font-size: 1.3rem;
  }
  .bioContainer p, .about .skillsContainer .skillsList, .about .socialLinksContainer .socialIconContainer p, .about .skillsContainer .skillsList .colorDivider {
    font-size: 1rem;
  }
  .bioContainer p {
    line-height: 2rem;
  }
  .about h3, .about h3 .colorDivider {
    font-size: 1.3rem;
  }
  .about .socialLinksContainer .socialIconContainer i {
    font-size: 2.5rem;
  }
}

@media (max-width: 1000px) {
  .introContainer h2 {
    font-size: 1rem;
  }
  .bioContainer p, .about .skillsContainer .skillsList, .about .socialLinksContainer .socialIconContainer p, .about .skillsContainer .skillsList .colorDivider {
    font-size: .8rem;
  }
  .bioContainer p {
    line-height: 1rem;
  }
  .about h3, .about h3 .colorDivider {
    font-size: 1rem;
  }
  .about .socialLinksContainer .socialIconContainer i {
    font-size: 2rem;
  }
  .introContainer, .skillsContainer, .bioContainer, .about .socialLinksContainer {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  .about {
    justify-content: flex-start;
    padding: 5%;
    flex-wrap: nowrap;
  }
  .introContainer h2 {
    letter-spacing: 0px;
    font-size: 1rem;
    display: block;
    width: 100%;
    text-align: center;
  }
  .about h3 {
    margin: 1% 0;
  }
  .introContainer, .skillsContainer, .bioContainer {
    width: 100%;
    padding-right: 0;
  }
  .skillsContainer {
    margin-top: 2vh;
  }
  .about .socialLinksContainer {
    border: none;
  }
  .introContainer {
    justify-content: space-evenly;
  }
  .introContainer .profilePicContainer {
    width: 35%;
    margin-bottom: 2vh;
  }
  .about .socialLinksContainer {
    padding-top: 2vh;
    width: 50%;
  }
  .about .socialLinksContainer .socialIconContainer {
    width: 50%;
  }
  .about .socialLinksContainer .socialIconContainer i {
    font-size: 1.5rem;
  }
  .about .mobile {
    display: flex;
  }
  .about .desktop {
    display: none;
  }
}

@media (max-height: 550px) and (min-width: 600px) {
  .introContainer, .skillsContainer, .bioContainer, .about .socialLinksContainer {
    width: 50%;
    padding-right: 1%;
    height: auto;
  }
  .about .mobile {
    display: flex;
  }
  .about .desktop {
    display: none;
  }
  .about .socialLinksContainer {
    padding-top: 2vh;
    width: 50%;
    border: none;
  }
  .about .socialLinksContainer .socialIconContainer {
    width: 50%;
  }
  .about .socialLinksContainer .socialIconContainer i {
    font-size: 1.5rem;
  }
  .about {
    padding: 1%;
    justify-content: center;
  }
  .introContainer {
    height: auto;
    justify-content: space-evenly;
  }
  .introContainer h2 {
    font-size: .9rem;
  }
  .introContainer .profilePicContainer {
    width: 30%;
    margin: 5%;
  }
  .socialLinksContainer {
    width: 50%;
    padding: 0;
  }
}

@media (max-height: 420px) and (min-width: 600px) {
  .introContainer, .skillsContainer, .bioContainer {
    width: 33%;
  }
  .introContainer h2 {
    font-size: .8rem;
  }
  .bioContainer p, .about .skillsContainer .skillsList, .about .socialLinksContainer .socialIconContainer p, .about .skillsContainer .skillsList .colorDivider {
    font-size: .6rem;
  }
  .bioContainer p {
    line-height: 1rem;
  }
  .about h3, .about h3 .colorDivider {
    font-size: 1rem;
  }
  .about .socialLinksContainer .socialIconContainer i {
    font-size: 2rem;
  }
  .introContainer .profilePicContainer {
    width: 40%;
  }
}

@media (max-height: 420px) and (max-width: 700px) {
  .about .socialLinksContainer {
    width: 100%;
  }
  .about .socialLinksContainer .socialIconContainer {
    width: auto;
    padding-bottom: 0;
  }
  .about .socialLinksContainer .socialIconContainer p {
    font-size: .6rem;
  }
}

/*-----End Media Queries -----*/

/*-------End About Me Section Stylings-------*/

/*-------Projects Section Stylings-------*/

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects .loadingText{
  position: absolute;
  z-index: -1;
  bottom: 50%;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-weight: 900;
  text-shadow: 1px 1px black;
}

.projects .overlay {
  background-color: rgba(0, 0, 0, .9);
  width: 50vw;
  height: 80vh;
  animation: fadeInContent;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: fixed;
  z-index: 5;
  border: 2px ridge magenta;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
}

.projects .overlay .exitView {
  color: lightgray;
  font-size: 2rem;
  position: absolute;
  top: 3%;
  right: 10%;
}

.projects .overlay .exitView:hover {
  color: lightskyblue;
  cursor: pointer;
}

.projects .overlay h1 {
  border-bottom: 2px ridge lightskyblue;
  text-align: center;
  font-size: 2rem;
}

.projects .overlay li {
  font-size: 1.5rem;
  padding-bottom: 2%;
}

.projects .overlay .projectLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
}

.projects .overlay .projectLinksContainer p {
  font-size: 1.5rem;
  text-shadow: 0px 1px lightskyblue;
  letter-spacing: 1px;
}

.projects .overlay .projectLinksContainer i {
  font-size: 4rem;
  color: whitesmoke;
  text-shadow: 0px 1px magenta;
  margin-bottom: 5%;
}

.projects .overlay .projectLinksContainer i:hover {
  color: magenta;
  text-shadow: 0px 0px;
  cursor: pointer;
}

.projects .overlay .projectTagsList {
  display: flex;
  justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.projects .projectTagsContainer {
  width: 90%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.projects .projectTagsContainer .projectTags {
  display: inline-block;
  background-color: rgba(100, 100, 100, .5);
  padding: .5% 1%;
  margin: 0 1%;
  border-radius: 10px;
  box-shadow: 2px 2px black;
  text-align: center;
  opacity: .7;
  font-weight: 900;
  letter-spacing: 2px;
  transition: opacity .5s;
  white-space: nowrap;
}

.projects .projectTagsContainer .projectTags:hover {
  background-color: darkmagenta;
  cursor: pointer;
  opacity: 1;
  box-shadow: none;
}

.projects .projectTagsContainer .active {
  background-color: darkmagenta;
  box-shadow: none;
  opacity: 1;
}

.projects .projectsList {
  /* border: 2px solid white; */
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  border-top: 2px ridge magenta;
  padding: 2%;
  overflow-y: auto;
}

.projects .projectsList .projectContainer {
  width: 250px;
  height: 250px;
  opacity: .5;
  position: relative;
  transition: opacity, box-shadow .5s;
  border-radius: 50%;
  border: 2px ridge darkmagenta;
  background-color: lightskyblue;
}

.projects .projectsList .projectContainer:hover, .projects .projectsList .projectContainer .active {
  opacity: 1;
  cursor: pointer;
  box-shadow: 0px 5px black;
}

.projects .projectsList .projectContainer img {
  width: auto;
  height: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.projects .projectsList .projectContainer figcaption {
  border: 2px ridge lightskyblue;
  box-shadow: 0px 0px 2px 2px black;
  background-color: rgba(139, 0, 139, .8);
  background-image: url("Assets/Images/asfalt-light.png");
  position: absolute;
  width: 100%;
  bottom: 10%;
  text-align: center;
  font-size: 2rem;
  z-index: 1;
  border-radius: 20px;
}

/*-----Media Queries -----*/

@media (max-width: 1400px), (max-height: 800px) {
  .projects .projectTagsContainer .projectTags, .projects .overlay .projectTagsList {
    font-size: 1rem;
  }
  .projects .projectsList .projectContainer {
    height: 225px;
    width: 225px;
  }
  .projects .projectsList .projectContainer figcaption {
    font-size: 1.5rem;
  }
  .projects .overlay li, .projects .overlay .projectLinksContainer p {
    font-size: 1.3rem;
  }
  .projects .loadingText{
    font-size: .9rem;
  }
}

@media(max-width: 1200px) {
  .projects .projectsList .projectContainer {
    height: 200px;
    width: 200px;
  }
  .projects .overlay h1 {
    font-size: 1.5rem;
  }
  .projects .projectsList .projectContainer figcaption {
    font-size: 1.3rem;
  }
  .projects .overlay li, .projects .overlay .projectLinksContainer p {
    font-size: 1rem;
  }
  .projects .overlay .projectLinksContainer i {
    font-size: 2.5rem;
  }
  .projects .loadingText{
    font-size: .8rem;
  }
}

@media(max-width: 1000px), (max-height: 700px) {
  .projects .projectsList .projectContainer {
    height: 150px;
    width: 150px;
  }
  .projects .projectsList .projectContainer figcaption {
    font-size: 1rem;
  }
  .projects .overlay h1 {
    font-size: 1.3rem;
  }
  .projects .projectsList .projectContainer figcaption {
    font-size: 1rem;
  }
  .projects .overlay li, .projects .overlay .projectLinksContainer p {
    font-size: .8rem;
  }
  .projects .overlay .projectLinksContainer i {
    font-size: 2rem;
  }
  .projects .overlay .exitView {
    font-size: 1.5rem;
  }
  .projects .overlay {
    width: 60vw;
  }
  .projects .projectTagsContainer .projectTags, .projects .overlay .projectTagsList {
    font-size: .8rem;
  }
  .projects .loadingText{
    font-size: .7rem;
  }
}

@media(max-width: 800px) {
  .projects .projectsList .projectContainer {
    height: 125px;
    width: 125px;
  }
}

@media(max-width: 600px), (max-height: 600px) {
  .projects .projectTagsContainer {
    height: auto;
    margin: 5% 0;
    width: 100%;
  }
  .projects .projectTagsContainer .projectTags {
    margin: 2%;
  }
  .projects .projectsList .projectContainer {
    height: 100px;
    width: 100px;
  }
  .projects .projectsList {
    width: 100%;
    height: 100%;
    min-height: 100px;
  }
  .projects .overlay {
    width: 80vw;
    height: 85%;
  }
  .projects .overlay h1 {
    font-size: 1rem;
  }
}

@media (max-height: 600px) {
  .projects .projectTagsContainer {
    margin: 0;
  }
  .projects .overlay .exitView {
    right: 5%;
  }
}

@media (max-height: 450px) {
  .projects .overlay {
    width: 95vw;
    height: 95%;
  }
  .projects .overlay .projectLinksContainer {
    margin-top: 1%;
  }
  .projects .overlay .projectLinksContainer i {
    font-size: 1.5rem;
  }
  .projects .overlay .projectTagsList {
    font-size: .6rem;
  }
}

/*-----End Media Queries -----*/

/*-------End Projects Section Stylings-------*/

/*-------Contact Section Stylings-------*/

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 3%;
}

.contact form .inputContainer {
  width: 50%;
  text-align: center;
}

.contact form .inputContainer label {
  font-size: 2rem;
  border-bottom: 5px ridge magenta;
  padding: 0 10%;
}

.contact form .inputContainer .textInput {
  background-color: rgba(0, 0, 0, .2);
  border: none;
  border-bottom: 5px ridge lightskyblue;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 2%;
  margin-top: 2vh;
  text-shadow: none;
}

.contact form .inputContainer .messageInput {
  background-color: rgba(0, 0, 0, .2);
  width: 100%;
  border: none;
  border-bottom: 5px ridge lightskyblue;
  margin-top: 2vh;
  height: 20vh;
  border-radius: 10px 10px 0 0;
  font-size: 1.5rem;
  color: white;
  padding: 2%;
}

.contact form .formButton {
  background-color: rgba(0, 0, 0, .2);
  font-size: 2rem;
  padding: 0 3%;
  border-radius: 10px;
  border: 2px ridge magenta;
  color: white;
}

.contact form .formButton:hover {
  border: 2px ridge lightskyblue;
  cursor: pointer;
  text-shadow: 0px 0px 3px magenta;
}

.copyright {
  margin: 1%;
  width: 100%;
  text-align: center;
}

.copyright p {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
  padding: .5% 1%;
  display: inline-block;
  white-space: nowrap;
  text-shadow: 0px 0px 5px magenta;
  letter-spacing: 1px;
  font-size: .9rem;
}

/*-----Media Queries -----*/

@media (max-width: 1400px), (max-height: 750px) {
  .contact form .inputContainer label, .contact form .formButton {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
  .contact form .inputContainer .textInput, .contact form .inputContainer .messageInput {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  .contact form .inputContainer {
    width: 70%;
  }
}

@media (max-width: 1200px) {
  .contact form .inputContainer label, .contact form .formButton {
    font-size: 1.5rem;
  }
  .copyright p {
    font-size: .8rem;
  }
}

@media (max-width: 1000px), (max-height: 650px) {
  .contact form .inputContainer label, .contact form .formButton {
    font-size: 1.2rem;
  }
  .contact form .inputContainer .textInput {
    padding: .5%;
  }
  .copyright p {
    padding: 1% 2%;
    font-size: .7rem;
  }
}

@media (max-width: 600px), (max-height: 600px) {
  .contact form .inputContainer label, .contact form .formButton {
    font-size: 1rem;
  }
  .contact form .inputContainer .textInput, .contact form .inputContainer .messageInput {
    font-size: .9rem;
  }
  .contact form .inputContainer {
    width: 80%;
  }
}

@media (max-height: 550px) and (min-width: 600px) {
  .contact form {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .contact form .inputContainer {
    width: 40%;
    height: auto;
  }
  .contact form .inputContainer:last-of-type {
    height: 70%;
  }
  .contact form .inputContainer .messageInput {
    height: 100%;
  }
  .contact form .formButton {
    margin-top: 50px;
  }
}

/*-----End Media Queries -----*/

/*-------End Contact Section Stylings-------*/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: center;
  padding: .5%;
}

footer p {
  color: lightgray;
  letter-spacing: 1px;
  font-size: .9rem;
  background-color: rgba(0, 0, 0, .1);
  display: inline-block;
  width: auto;
  padding: .5% 1%;
  border-radius: 10px;
}