/*-------Global Stylings-------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:link {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: 'Rubik', serif;
    font-size: 3.5rem;
    letter-spacing: 2px;
}

h2, p, span, td,th {
    font-family: "Rubik", serif;
}

/*-------End Global Stylings-------*/